	<div id="edit" th:fragment="edit">
		<form id="submitForm" action="" th:action="@{/interchanging}" method="POST" th:object="${item}">
		<table name="submitForm"  class="table table-bordered" align="center">
			<tbody>
				<!-- Netex Id -->
				<div th:replace="/html/simpleInput :: input('interchanging.id','item.interchanging.id','Id','true')"></div>
				<!-- Name -->
				<div th:replace="/html/inputMulti :: inputMulti('interchanging.name.value','item.interchanging.name.value','interchanging.name.lang','Name','true')"></div>
				<!-- version -->
				<div th:replace="/html/simpleInput :: input('interchanging.version','item.interchanging.version','Version','true')"></div>
								
				<!-- Operator -->
				<div th:replace="/html/selectOption :: option('operator','Operator name','item.operator','/BaseInfo')"/>
								
				<tr>
					<td><input type="submit" value="Submit" /></td>
				</tr>
			</tbody>
		</table>
		</form>
		
		
	</div>