<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<div th:replace="template.html :: header"></div>

<form action="#" method="post" th:action="@{/saveTypeOfTravelDocument}" th:object="${typeOfTravelDocument}">
<table class="table table-bordered" align="center">
	<tbody>
		<tr>
			<td>Id</td>
			<td ><input class="form-control" th:field="*{id}" type="text" value="*{id}" required/></td>
		</tr>
		<tr>
			<td>Name</td>
			<td><input class="form-control" th:field="*{name.value}" type="text" value="*{name.value}" required/>
			<select th:field="*{name.lang}"> 
				<option  th:value="HU" selected="selected">HU</option>
				<option th:value="EN">EN</option>
			</select>
			</td>
		</tr>
		<tr>
			<td>Version</td>
			<td><input class="form-control" th:field="*{version}" type="text" value="*{version}" required/></td>
		</tr>
		<tr>
			<td>PrivateCode</td>
			<td><input class="form-control" th:field="*{privateCode}" type="text" value="*{version}" required/></td>
		</tr>
		<tr>
			<td>Description</td>
			<td><input class="form-control" th:field="*{description.value}" type="text" value="*{description.value}"/>
			<select th:field="*{name.lang}"> 
				<option  th:value="HU" selected="selected">HU</option>
				<option th:value="EN">EN</option>
			</select>
			</td>
		</tr>
		<tr>
			<td><input type="submit" value="Submit" /></td>
		</tr>
	</tbody>
</table>

</form>
</body>
</html>