	<div id="edit" th:fragment="edit">
		<form id="submitForm" action="" th:action="@{/priceUnit}" method="POST" th:object="${item}">
		<table name="submitForm"  class="table table-bordered" align="center">
			<tbody>
				<!-- Netex Id -->
				<div th:replace="/html/simpleInput :: input('priceUnit.id','item.priceUnit.id','Id','true')"></div>
				<!-- Name -->
				<div th:replace="/html/inputMulti :: inputMulti('priceUnit.name.value','item.priceUnit.name.value','priceUnit.name.lang','Name','true')"></div>
				<!-- ShortName -->
				<div th:replace="/html/inputMulti :: inputMulti('priceUnit.shortName.value','item.priceUnit.shortName.value','priceUnit.shortName.lang','Short Name','false')"></div>
				<!-- version -->
				<div th:replace="/html/simpleInput :: input('priceUnit.version','item.priceUnit.version','Version','true')"></div>
				<!-- PrivateCode -->
				<div th:replace="/html/privateCode :: privateCode(	'priceUnit.privateCode.value',
																	'item.priceUnit.privateCode.value',
																	'priceUnit.privateCode.type',
																	'item.priceUnit.privateCode.type',
																	'Private code','true')"></div>
				<!-- hasPhoto 
				<div th:replace="/html/boolean :: boolean('priceUnit.hasPhoto','Has Photo')"></div>
				-->
				
				<!-- Description -->
				<div th:replace="/html/textareaMulti :: textareaMulti('priceUnit.description.value','item.priceUnit.description.value','Description','priceUnit.description.lang')"></div>				
				
				<!-- Operator -->
				<div th:replace="/html/selectOption :: option('operator','Operator name','item.operator','/BaseInfo')"/>
								
				<tr>
					<td><input type="submit" value="Submit" /></td>
				</tr>
			</tbody>
		</table>
		</form>
		
		
	</div>