	<div id="edit" th:fragment="edit">
		<form id="submitForm" action="" th:action="@{/typeOfFareProduct}" method="POST" th:object="${item}">
		<table name="submitForm"  class="table table-bordered" align="center">
			<tbody>
				<!-- Netex Id -->
				<div th:replace="/html/simpleInput :: input('typeOfFareProduct.id','item.typeOfFareProduct.id','Id','true')"></div>
				<!-- Name -->
				<div th:replace="/html/inputMulti :: inputMulti('typeOfFareProduct.name.value','item.typeOfFareProduct.name.value','typeOfFareProduct.name.lang','Name','true')"></div>
				<!-- ShortName -->
				<div th:replace="/html/inputMulti :: inputMulti('typeOfFareProduct.shortName.value','item.typeOfFareProduct.shortName.value','typeOfFareProduct.shortName.lang','Short Name','false')"></div>
				<!-- version -->
				<div th:replace="/html/simpleInput :: input('typeOfFareProduct.version','item.typeOfFareProduct.version','Version','true')"></div>
				<!-- PrivateCode -->
				<div th:replace="/html/privateCode :: privateCode(	'typeOfFareProduct.privateCode.value',
																	'item.typeOfFareProduct.privateCode.value',
																	'typeOfFareProduct.privateCode.type',
																	'item.typeOfFareProduct.privateCode.type',
																	'Private code','true')"></div>
				<!-- hasPhoto 
				<div th:replace="/html/boolean :: boolean('typeOfFareProduct.hasPhoto','Has Photo')"></div>
				-->
				
				<!-- Description -->
				<div th:replace="/html/textareaMulti :: textareaMulti('typeOfFareProduct.description.value','item.typeOfFareProduct.description.value','Description','typeOfFareProduct.description.lang')"></div>				
				
				<!-- Operator -->
				<div th:replace="/html/selectOption :: option('operator','Operator name','item.operator','/BaseInfo')"/>
								
				<tr>
					<td><input type="submit" value="Submit" /></td>
				</tr>
			</tbody>
		</table>
		</form>
		
		
	</div>