	<div id="edit" th:fragment="edit">
		<form id="submitForm" action="" th:action="@{/typeOfTariff}" method="POST" th:object="${item}">
		<table name="submitForm"  class="table table-bordered" align="center">
			<tbody>
				<!-- Netex Id -->
				<div th:replace="/html/simpleInput :: input('typeOfTariff.id','item.typeOfTariff.id','Id','true')"></div>
				<!-- Name -->
				<div th:replace="/html/inputMulti :: inputMulti('typeOfTariff.name.value','item.typeOfTariff.name.value','typeOfTariff.name.lang','Name','true')"></div>
				<!-- ShortName -->
				<div th:replace="/html/inputMulti :: inputMulti('typeOfTariff.shortName.value','item.typeOfTariff.shortName.value','typeOfTariff.shortName.lang','Short Name','false')"></div>
				<!-- version -->
				<div th:replace="/html/simpleInput :: input('typeOfTariff.version','item.typeOfTariff.version','Version','true')"></div>
				<!-- PrivateCode -->
				<div th:replace="/html/privateCode :: privateCode(	'typeOfTariff.privateCode.value',
																	'item.typeOfTariff.privateCode.value',
																	'typeOfTariff.privateCode.type',
																	'item.typeOfTariff.privateCode.type',
																	'Private code','true')"></div>
				<!-- hasPhoto 
				<div th:replace="/html/boolean :: boolean('typeOfTariff.hasPhoto','Has Photo')"></div>
				-->
				
				<!-- Description -->
				<div th:replace="/html/textareaMulti :: textareaMulti('typeOfTariff.description.value','item.typeOfTariff.description.value','Description','typeOfTariff.description.lang')"></div>				
				
				<!-- Operator -->
				<div th:replace="/html/selectOption :: option('operator','Operator name','item.operator','/BaseInfo')"/>
								
				<tr>
					<td><input type="submit" value="Submit" /></td>
				</tr>
			</tbody>
		</table>
		</form>
		
		
	</div>