	<div id="edit" th:fragment="edit">
		<form id="submitForm" action="" th:action="@{/saveTypeOfTravelDocument}" method="POST" th:object="${item}">
		<table name="submitForm"  class="table table-bordered" align="center">
			<tbody>
				<!-- Netex Id -->
				<div th:replace="/html/simpleInput :: input('typeOfTravelDocument.id','item.typeOfTravelDocument.id','Id','true')"></div>
				<!-- Name -->
				<div th:replace="/html/inputMulti :: inputMulti('typeOfTravelDocument.name.value','item.typeOfTravelDocument.name.value','typeOfTravelDocument.name.lang','Name','true')"></div>
				<!-- ShortName -->
				<div th:replace="/html/inputMulti :: inputMulti('typeOfTravelDocument.shortName.value','item.typeOfTravelDocument.shortName.value','typeOfTravelDocument.shortName.lang','Short Name','false')"></div>
				<!-- version -->
				<div th:replace="/html/simpleInput :: input('typeOfTravelDocument.version','item.typeOfTravelDocument.version','Version','true')"></div>
				<!-- PrivateCode -->
				<div th:replace="/html/privateCode :: privateCode(	'typeOfTravelDocument.privateCode.value',
																	'item.typeOfTravelDocument.privateCode.value',
																	'typeOfTravelDocument.privateCode.type',
																	'item.typeOfTravelDocument.privateCode.type',
																	'Private code','true')"></div>
				<!-- hasPhoto 
				<div th:replace="/html/boolean :: boolean('typeOfTravelDocument.hasPhoto','Has Photo')"></div>
				-->
				
				<!-- Description -->
				<div th:replace="/html/textareaMulti :: textareaMulti('typeOfTravelDocument.description.value','item.typeOfTravelDocument.description.value','Description','typeOfTravelDocument.description.lang')"></div>
				
				<!-- MachineReadable -->
				<div th:replace="/html/selectOptionEnum :: option('typeOfTravelDocument.machineReadable','MachineReadable','MachineReadableEnumeration')"/>
				
				<!-- Operator -->
				<div th:replace="/html/selectOption :: option('operator','Operator name','item.operator','/BaseInfo')"/>
								
				<tr>
					<td><input type="submit" value="Submit" /></td>
				</tr>
			</tbody>
		</table>
		</form>
		
		
	</div>