	<div id="edit" th:fragment="edit">
		<form id="submitForm" action="" th:action="@{/saveTypeOfTravelDocument}" method="POST" th:object="${item}" 7>
		<table name="submitForm"  class="table table-bordered" align="center">
			<tbody>
				<tr>
					<td>Id</td>
					<td ><input class="form-control" th:field="${item.typeOfTravelDocument.id}" type="text" value="${item.typeOfTravelDocument.id}" required/></td>
				</tr>
				<tr>
					<td>Name</td>
					<td><input class="form-control" th:field="${item.typeOfTravelDocument.name.value}" type="text" value="${item.typeOfTravelDocument.name.value}" required/>
					<select th:field="${item.typeOfTravelDocument.name.lang}"> 
						<option  th:value="HU" selected="selected">HU</option>
						<option th:value="EN">EN</option>
					</select>
					</td>
				</tr>
				<tr>
					<td>Version</td>
					<td><input class="form-control" th:field="${item.typeOfTravelDocument.version}" type="text" value="${item.typeOfTravelDocument.version}" required/></td>
				</tr>
				<tr>
					<td>PrivateCode</td>
					<td><input class="form-control" th:field="${item.typeOfTravelDocument.privateCode.value}" type="text" value="${item.typeOfTravelDocument.privateCode.value}" required/></td>
				</tr>
				<tr>
					<td>Description</td>
					<td><input class="form-control" th:field="${item.typeOfTravelDocument.description.value}" type="text" value="${item.typeOfTravelDocument.description.value}"/>
					<select th:field="${item.typeOfTravelDocument.description.lang}"> 
						<option  th:value="HU" selected="selected">HU</option>
						<option th:value="EN">EN</option>
					</select>
					</td>
				</tr>
				<tr>
					<td><input type="submit" value="Submit" /></td>
				</tr>
			</tbody>
		</table>
		</form>
		
		
	</div>