<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
  </head>
  <body>	 
	
	<div th:replace="template.html :: header"></div>
	
	<div class="container" style="min-height: 500px">
	
        <h1>Díjtermék kezelő </h1>
        <p>
            Hello kérlek válasz a menüpontok közül, hogy mit szeretnél csinálni!
        </p>
        <!--  
        Current time is <span th:text="${serverTime}"></span>
        <p>
        	Message from property file is: <span th:text="#{welcome.message}"></span>
        </p>
        <p> List example: <br>
        	<tr th:each="student : ${students}">
        		<td th:text="${student.id}"/>
        		 <td th:text="${student.name}"/>
        		 <br>
        		 
        	</tr>
        </p>
        Here is the URL of the submit form: <a th:href="@{/submit.html}">Submit form</a>
    -->
    
    
    </div>

    <div th:replace="template.html :: footer"></div>

  </body>
</html>