<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    </head>
	<body>
		<div th:replace="template.html :: header"></div>

    <div class="container">

  <div class="title-box">
    <h1>TypeOfTravelDocument</h1>
  </div>

		<div class="card">
		  <div class="card-body">
		    <div id="table" class="table-editable">
		      <span class="table-add float-right mb-3 mr-2"><a href="#!" class="text-success"><i class="fas fa-plus fa-2x"
		            aria-hidden="true"></i></a></span>
		            
			  <table class="table table-bordered table-responsive-md table-striped text-center">
			  <thead>
			    <tr>
			      <th scope="col">#</th>
			      <th scope="col">Student Id</th>
			      <th scope="col">Student name</th>
			    </tr>
			  </thead>
			  <tbody>
			  	<tr th:each="student : ${students}">
		        		<th scope="row">1</th>
		        		<td th:text="${student.id}"/>
		        		 <td th:text="${student.name}"/>
		        		 <td>
		        		 <span class="table-remove"><button type="button" class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
		        		 </td>
		        		 <br>
		        		 
		        </tr>
			  </tbody>
			</table>
			  
	  </div>
	  </div>
	</div>
      

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>